DATABASE_URL="postgresql://user:password@localhost:5432/resto_ziguinchor"
JWT_SECRET="change_moi_en_production"
JWT_EXPIRES_IN="7d"
PORT=4000
WAVE_API_KEY="sandbox_key"
OPENROUTESERVICE_API_KEY="ors_key"
FCM_SERVER_KEY="fcm_key"
